.wrapper {    
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    padding: 20px;
    min-width: 600px;
    background-color: #fff;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    
}

.content{
    margin-bottom: 25px;
}

p {
    color: darkgreen;
    font-weight: 600;
    
}
button {
    margin: 0 auto;
    display: block;
    background-color: #ccc;
    border: none;
    color: rgb(32, 30, 30);
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    &:not(:last-child){
        margin-right: 5px;
    }
}

